# LOCAL POS DATABASE
LOCAL_DB_SERVER=
LOCAL_DB_DATABASE=
LOCAL_DB_USER=sa
LOCAL_DB_PASSWORD=
LOCAL_DB_PORT=

# HQ DATABASE
HQ_DB_SERVER=
HQ_DB_DATABASE=
HQ_DB_USER=
HQ_DB_PASSWORD=
HQ_DB_PORT=

DB_ENCRYPT=
DB_TRUST_SERVER_CERTIFICATE=